/* Caracteristicas fuente */
$font-size: 16px;
$title-paragraph-size: 18px;
$title-size: 48px;
$title-section: 36px;
$font-size-mobile: 14px;
$font-family: 'Montserrat', sans-serif;

/* Paleta Colores */
$green-color: #00BFA5;
$green-hover-color: #009688;
$green-active-color: #015B52;
$green-border-color: #014F48;
$green-font-color: #02363D;
$font-color-p: #1C2427;
$white-color: #FFFFFF;
$grey-background: #D8D8D8;
$grey-light-background: #ecfff2;
$blue-color: #008EFF;
$yellow-color: #F78600;
$purple-color: #B53E81;
$banner-background: #F3F0EE;
$border-container-signin: 1px solid #E1E1E1;
$input-font-color: #6D7278;