.speakers{
    padding: 2.5% 10% 5% 10%;
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    justify-content: center;
    align-content: center;
    background-color: $grey-light-background;
    .line{
        margin-top: 15px;
        margin-bottom: 30px;
        width: calc(70% + 20px);
        min-width: 681.36px;
        background-color: rgba(172, 169, 169, 0.603);
        height: 1.5px;
    }
    .tittle{
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
}

.speaker{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    &--info{
        width: 100%;
        gap: 10px;
        padding-bottom: 10%;
        align-content: center;
        justify-content: center;
        text-align: center;
        h2, h3{
            font-size: 18px;
        }
        p{
            font-size: 15px;
        }
    }
}

.icons--container{
    justify-content: center;
}